@import 'variables';

@mixin container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 80px;

  @media (max-width: 1248px) {
    padding: 0 40px;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    padding: 0 30px;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 360px) {
    @content;
  }
}


