@import './styles/variables';
@import './styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-height: 100vh;
  font-family: $font;
}

.container {
  @include container;
} 