@import '../../styles/variables';
@import '../../styles/mixins';

.banner {
  width: 100%;
  min-height: 100vh;
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(15, 20, 32, 0.79) 79%),
    url('../../assets/images/backgrounds/banner_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  overflow-x: hidden;

  @media (max-width: 460px) {
    background-size: auto 100%;
    background-position: center top;
  }

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    @media (max-width: 560px) {
      flex-direction: column-reverse;
      padding: 280px 20px 40px;
      align-items: flex-start;
    }
  }

  &__content {
    &-left {
      text-align: left;
      position: relative;
      z-index: 2;
      width: 60%;

      @include tablet {
        width: 61%;
      }

      @media (max-width: 650px) {
        width: 50%;
      }

      @media (max-width: 560px) {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
      }
    }

    &-right {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      z-index: 1;

      @include tablet {
        position: absolute;
        right: -120px;
        top: 50%;
        transform: translateY(-50%);
      }

      @media (max-width: 560px) {
        position: absolute;
        transform: none;
        right: auto;
        top: -240px;
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: 16px;

    span {
      color: $pink;
    }

    @media (max-width: 650px) {
      font-size: 40px;
    }

    @media (max-width: 580px) {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-size: 22px;
    margin-bottom: 32px;

    @media (max-width: 650px) {
      font-size: 18px;
    }

    @media (max-width: 580px) {
      font-size: 16px;
    }

    span {
      color: $lime;
    }
  }

  &__button {
    padding: 14px 40px;
    line-height: 26.4px;
    background: $lime;
    border: none;
    border-radius: 32px;
    font-size: 22px;
    cursor: pointer;
    color: $black;
    transition: background-color 0.3s ease;

    @media (max-width: 650px) {
      font-size: 18px;
    }

    @media (max-width: 580px) {
      font-size: 16px;
    }

    &:hover {
      background: darken($lime, 10%);
    }
  }
} 